---
import { TextGenerator } from "@/components/text-generator";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <TextGenerator client:load />
  </main>
</Layout>
